.root{
    -fx-background-color: white;
}

.table-view{
   -fx-background-color: white;
   -fx-border-style: solid;
   -fx-border-color: black;
   -fx-border-width: 1px;
}

#includeDoc{
	-fx-background-image: url('../assets/plus.png');
	-fx-background-size: 15px;
	-fx-padding: 0px 12px 5px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#excludeDoc{
	-fx-background-image: url('../assets/minus.png');
	-fx-background-size: 15px;
	-fx-padding: 0px 12px 5px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#deleteDoc{
	-fx-background-image: url('../assets/delete.png');
	-fx-background-size: 13px;
	-fx-padding: 0px 12px 5px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#addDoc{
	-fx-background-image: url('../assets/add.png');
	-fx-background-size: 15px;
	-fx-padding: 3px 12px 3px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#importDoc{
	-fx-background-image: url('../assets/import-icon.png');
	-fx-background-size: 15px;
	-fx-padding: 3px 12px 3px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#exportDoc{
	-fx-background-image: url('../assets/export.png');
	-fx-background-size: 15px;
	-fx-padding: 3px 12px 3px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#exportToExcel{
	-fx-background-image: url('../assets/exportToExcel.png');
	-fx-background-size: 15px;
	-fx-padding: 3px 12px 3px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.table-view:focused{
    -fx-background-color: white;
    
}


.table-view .column-header-background{
    -fx-background-color: #89CD48;
    
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
        -fx-border-color:black;
    
}


.table-view .table-cell{
    -fx-text-fill: black;
    -fx-text-alignment: center;
    
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FBFBFB;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #DADADA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #FFB63E;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

